body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header-container{
    padding: 20px;
}
.filters-container{
    padding: 20px;
}
.content-container{
    padding: 20px
}

.char-block{
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
    height: 450px;
}
.char-block > .name {
    margin-top: -50px;
    padding: 10px;
}
.char-block > .other-info {
    padding: 10px;
}

.char-image {
    width: 100%;
}
